<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CV App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
    />
</head>

<body>
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Country</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${candidate.firstName}"></td>
            <td th:text="${candidate.lastName}"></td>
            <td th:text="${candidate.country}"></td>
            <td th:text="${candidate.date}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLE


<table>
<tbody>
<tr>
<td width="707">
<p><strong><em>JIBA NATH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SR. JAVA DEVELOPER</em></strong></p>
</td>
</tr>
<tr>
<td width="707">
<p><a href="mailto:jibadeveloper24@gmail.com"><strong><em>jibadeveloper24@gmail.com</em></strong></a><strong><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;301-200-5667</em></strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p><strong><u>TECHNICAL SKILLS</u></strong></p>
<p><strong><em>JAVA, J2EE, Spring, Hibernate, HTML, CSS, Javascript, Angular, JQeuery, Node.js, JDBC, Oracle, SQL, postgresql, NoSQL, MongoDB, MySQL, Microservices, Docker, UML, Agile, TDD, Scrum, REST, SOAP, UML, Eclipse.</em></strong></p>
<p><strong><u>&nbsp;</u></strong></p>
<p><strong><u>&nbsp;</u></strong></p>
<p><strong><u>&nbsp;</u></strong></p>
<p><strong><u>&nbsp;</u></strong></p>
<p><strong><u>CERTIFICATION &amp; ACADEMIC HIGHLIGHTS</u></strong></p>
<p>&nbsp;</p>
<ul>
<li><strong><em>Bachelor of Science in Computer Engineering</em></strong></li>
<li><strong><em>SCJP</em></strong></li>
<li><strong><em>SCWCD </em></strong></li>
</ul>
<p><strong><em><br /> </em></strong> </p>
<ul>
<li><em>Around 11+ years of successful experience with complete SDLC life cycle like Analysis, Design, Development, Unit testing and Implementation of J2EE based web applications including application support. Experience in JAVA/JEE design patterns such as MVC, Singleton, Factory, Business Delegate, Data Access Object, Front Controller, Service Locator, Session Fa&ccedil;ade and Transfer Object.</em></li>
<li><em>Expertise in various JavaScript frameworks like TypeScript, Angular.js Backbone.js, Require.js, Node.js, Express.js, Underscore.js, React.js/Redux, Bootstrap, Ember.js, Responsive web design. (RWD).</em></li>
<li><em>Experience in Core Java concepts such as OOPS Concepts, Collections Framework, Exception Handling, I/O System, Multi-Threading and JDBC. Strong hands-on experience using MVC frameworks, Struts, JSF, Spring and Hibernate.</em></li>
<li><em>Working Experience on Hibernate for mapping the java objects to relational database and SQL queries to fetch the data, insert and update the data from the database.</em></li>
<li><em>Experienced in providing client form validation, building custom directives &amp; filters using JavaScript, TypeScript and AngularJS. </em></li>
<li><em>Proficient in developing web page quickly and effectively using HTML5, CSS3, JavaScript and JQUERY and also experience in making web page cross browser compatible. Good understanding of Angular JS to make web development simpler by creating filters, controllers and models.</em></li>
<li><em>Experience in developing application, automated scripts leveraging Mongo DB. Extensive experience in designing MongoDB multi-Sharded cluster and monitoring with MMS.</em></li>
<li><em>Experience in cross browser and cross-device compatibility check and thoroughly performed unit testing using Jasmine, Mocha, JUnit and Karma. Experience working on JIRA which is managing project requirements and tasks, tracking issues. Experience in using Web/Application servers like WebLogic, JBoss, Glassfish and Tomcat.</em></li>
<li><em>Experience in using Jenkins for Continuous Integration and Sonar jobs for java code quality.</em></li>
<li><em>Experience in writing ANT, Maven build scripts, providing logging facility using Log4j and Writing JUnit test cases. Good experience in SCRUM process of Agile (Iterative) development methodology.</em></li>
<li><em>Experience in working with Databases like JDBC, Oracle, SQL Server, DB2 and Classic Federator and proficiency in writing complex SQL, NoSQL, Hadoop, MongoDB, CRUD, PL/SQL, MSSQL, MySQL</em></li>
<li><em>Experienced with incorporating RESTful and SOAP web services into application as well as creating them.</em></li>
<li><em>Excellent experience in GitHub and Tortoise SVN for source code management and for version control.</em></li>
<li><em>Strong problem-solving, organizing, communication and planning skills, with ability to work in team environment.</em></li>
<li><em>Good written and oral communication skills and Interpersonal skills with a strong ability to excel through collaboration with team members. Authorized to work in United States for any employer.</em></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><em><u>CREDIT KARMA &ndash; SAN FRANCISCO, CA </u></em></strong></p>
<p><strong><em>JULY 2016 TO PRESENT </em></strong></p>
<ol>
<li><strong><em> JAVA DEVELOPER</em></strong></li>
</ol>
<p>&nbsp;</p>
<p><strong><em>Project was to design credit tools, such as a Credit Score Simulator, which simulates the effect of potential financial actions on a user's credit score; and tailored financial recommendations based on each individual user's credit profile.</em></strong></p>
<p><strong><em><br /> </em></strong></p>
<ul>
<li><em>Worked closely with management and design team for all aspects of Software Development Life cycle (SDLC) including analysis, design, coding, and testing on Core Java and J2EE platform with Servlets, JSP, JDBC, Multithreading, Hibernate, Struts, Ejb, Ibatis, Jpa, Spring MVC, Spring Boot.</em></li>
<li><em>Make pluggable UI microservice for each platform which should solve the monolithic problem of seed generation and create Docker image and deploy them into kubernates using Node.js, Angular.js</em></li>
<li><em>Design and develop new features in website using Java/J2EE and enhance existing features. Refactoring code, redesign current design. Implemented the application using&nbsp;Spring&nbsp;Boot&nbsp;Framework and handled the security using&nbsp;spring security, Struts, SERVLETS, EJB, IBATIS, JPA</em></li>
<li><em>Developed web page and form validation with team using Angular.JS, React.Js, ES6, Webpack, Babel, Bootstrap.js, Node.js, Backbone.js, HTML5, CSS &amp; JavaScript.</em></li>
<li><em>Review Requirement, develop technical design documents and create a prototype of the critical business application using JAVA/J2EE Initiated use of HttpUnit, Selenium IDE for testing.</em></li>
<li><em>Used Angular.JS to develop MVC app (Models, Views and Controllers) which integrated with the Back-end RESTful services with AJAX ($http) to perform GET &amp; POST data to backend servers.</em></li>
<li><em>Developed Micro service starter framework based on Java8, Docker, Spring Boot and&nbsp;CircleCI&nbsp;which saved a lot of&nbsp;developer&nbsp;time for provisioning a new service.&nbsp;Implemented Hibernate, JSP, Struts, JDBC, SERVLETS, EJB, IBATIS, JPA, frameworks on JSON configurations.&nbsp;</em></li>
<li><em>Developed Java/J2EE code, business logic using Spring, Hibernate framework and OOP concepts, involved in Peer code reviews. Microservices has been built using spring boot, spring security and deployed to AWS cloud. </em></li>
<li><em>Experienced working on different layers of Spring MVC architecture such as Spring-Controller, service and repository classes. Implementing the Microservices using Spring Boot and Spring Cloud. </em></li>
<li><em>Created custom directives in Angular JS for re-usable components (multi-field form elements, background file uploads) Also, worked with views, handlebars and different concepts related to Ember framework</em></li>
<li><em>Constructed web pages for application using HTML, CSS, MVC3, Jquery &amp; JavaScript, Backbone.Js, Bootstrap, Angular, JQuery, React JS, Node JS, Karma, Jasmine.</em></li>
<li><em>Did SQL programming on the Oracle Relational Database via Oracle SQL Developer and writing sql scripts.</em></li>
<li><em>Created WSDL &amp; Generated data objects using REST, WSDL, Java, Spring, Hibernate, JAX-WS, Axis, apache CXF and developed mapping code for several Web Services interfaces for various profile management endpoints.</em></li>
<li><em>Extensively worked in developing Restful Services using Spring Boot application with H2 Database to perform the actions of commit, rollback, revert organizations by passing&nbsp;JWT&nbsp;token from OAUTH2 authorization.&nbsp;</em></li>
<li><em>Actively involved developing proof of concept for a newly proposed application in using Javascript and Angular 2, Backbone.Js, Node.js, Bootstrap. Used JBoss application server to deploy application into Production environment.</em></li>
<li><em>Developed various reusable helper and utility classes using Ibatis, Java Beans with IntelliJ IDE and Eclipse editor.</em></li>
<li><em>Make pluggable UI microservice for each platform which should solve the monolithic problem of seed generation and create Docker image and deploy them into kubernates using Angular.js</em></li>
<li><em>Coordinated with Architects and Security teams on defining SOAP, RESTful web services architecture and generating/managing artifacts documentation Confluence.</em></li>
<li><em>Worked with modules like Mongo DB and mongoose for database persistence using Node.js to interact with Mongo DB. Worked with Express.js for development of Restful web services and middleware configurations. </em></li>
<li><em>Implemented JDBC connection for retrieving data from Oracle database.</em></li>
<li><em>writing stored procedures, SQL Queries, PL/SQL Queries, Triggers, Packages and Views in various databases such as Oracle, My SQL, NoSQL, Hadoop, MongoDB, CRUD,</em> <em>postgresql, PL/SQL, MSSQL</em></li>
<li><em>Worked with AWS Infrastructure Like Docker for containing microservices and write docker file, Jenkins for Automated Integration and deployment process and kubernates for deploying pods. And maintaining each pod on kubernates dashboard and load balancing.</em></li>
<li><em>Utilized&nbsp;React&nbsp;for its efficient data flow architecture to create a lightweight and render efficient web app that searched projects via the GitHub API through keywords.</em></li>
<li><em>Designed application databases using MySQL, NoSQL, MongoDB, CRUD, postgresql, PL/SQL, and PostgreSQL, sometimes rewrote queries to improve query response time</em></li>
<li><em>Developing Dockerfile for different end points and validate them through the docker-central to run the Jenkins job with given parameter and deploy job to the kubernates.</em></li>
<li><em>Involved in implementing business logic with Oracle-stored procedures, functions and triggers using PL/SQL, NoSQL, Hadoop, MongoDB, CRUD, postgresql, MSSQL, MySQL</em></li>
<li><em>Implemented Microservices Architecture, with services interacting through a combination of REST, SOAP. Worked on NodeJs scripts, Karma, Jasmine for unit testing. Implementation of version control, CVS, GIT repositories.</em></li>
<li><em>Involved in Analysis, Design, Development and Testing of application using Agile Model, TDD, Scrum.</em></li>
<li><em>Used GIT as repository, Github and Jenkins to build and deploy the project into&nbsp;Fuse&nbsp;server.&nbsp;</em></li>
<li><em>Designing, Coding (development) and Debugging application using Eclipse Indigo as an IDE. Used version control tools like GIT, SVN to manage and control software development.&nbsp;</em></li>
<li><em>Developed test cases and performed unit testing using JUnit. Maintained high level of unit test coverage through test driven development. Used Eclipse IDE for designing, coding and developing applications.</em></li>
</ul>
<p><strong><em><u>Technical Skills:</u></em></strong></p>
<p><strong><em>JAVA, J2EE, Spring, Spring Boot, spring security, Hibernate, HTML, CSS, Javascript, Angular.Js, Node.js, JSP, JQeuery, Struts, SERVLETS, EJB, IBATIS, JPA, Microservices, Docker, kubernates, NoSQL, postgresql , Oracle, MongoDB, Crud, PL/SQL, MS SQL, MySQL, JDBC, UML, Eclipse, Junit, Jira, Git, Github, Maven, JBoss, Tomcat, JSON, Rest, SOAP, WEBSPHERE, WebServices, WEBLOGIC, Selenium, Subversion, Web 2.0, SOA Agile, Scrum, </em></strong></p>
<p>&nbsp;</p>
<p><strong><em><u>RXBENEFITS - BIRMINGHAM, AL</u></em></strong></p>
<p><strong><em>MAY 2014 TO JUNE 2016<br /> SR. JAVA DEVELOPER</em></strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong><em>Our client -focused pharmacy model offers aggregate pricing, concierge service and independent, strategic clinical management that clients won&rsquo;t get with any other pharmacy administrator.</em></strong></p>
<p><strong><em><br /> </em></strong></p>
<ul>
<li><em>Implemented the application using the concrete principles laid down by several Java/J2EE Design patterns like Business Delegate, MVC, Session Fa&ccedil;ade, Factory Method, Service Locator, Singleton and Data Transfer Objects </em></li>
<li><em>Development of Web (Intranet) database-driven and GIS&nbsp;Java/J2EE applications for Oracle databases </em></li>
<li><em>Designed and built up the UI design and front-end programming for web application that matches the wireframes utilizing the most recent HTML5, CSS3, Jquery, Javascript, Backbone.Js, Bootstrap and AngularJS.</em></li>
<li><em>Mentored/trained a team of 5 junior to mid-level developers in Java/J2EE Development using UML design documents. Used Spring for cross cutting concerns and IOC for dependency injection.</em></li>
<li><em>Developed application service components and configured beans using Spring IoC, creation of Hibernate mapping files and generation of database schema.</em></li>
<li><em>Developed front-end components using HTML5/CSS3, Javascript, Node.js, Bootstrap and Angular.js. Also involved in back-end in creating Web API with Entity Framework. Worked in using React Js components, Forms, Events, Keys, Router, Animations and Flux concept.</em></li>
<li><em>Write TestNG and Junit Integrations Test Cases for the code base and generating Jacoco test report using Gradle and generating Apidoc for the codebase hosted private on Bitbucket&nbsp;</em></li>
<li><em>Proven expertise in implementing IOC and Dependency Injection features in various aspects of Spring Framework (Core, Web, JDBC, MVC and DAO).</em></li>
<li><em>Implemented Persistence layer using Hibernate to interact with the Oracle database, Used Hibernate Framework for object relational mapping and persistence.</em></li>
<li><em>Created and developed the internal Angular.JS framework applications projects. Added user validations and user permissions by using the Node.JS. Unit testing with Jasmine.</em></li>
<li><em>Implemented functionality using Servlet, JSP, HTML and Struts Framework, Hibernate, Spring, Java Scripts and Weblogic. Implemented the caching mechanism in Hibernate to load data from Oracle database</em></li>
<li><em>Accessed and manipulated the&nbsp;Oracle&nbsp;database environment by writing SQL queries in the&nbsp;oracle&nbsp;sql&nbsp;developer&nbsp; for testing purpose. Managed Database design, creation and querying of the whole project using NoSQL, Hadoop, MongoDB, CRUD, PL/SQL, MSSQL, postgresql, MySQL.</em></li>
<li><em>Developed all client-side logical implementation part of applications with AngularJS controllers under specific modules, manipulating nodes in DOM tree</em></li>
<li><em>Expertise in MVC Architecture using Struts, Servlets, Ejb, Ibatis, Jpa, Jsf framework and implementing custom tag libraries. Executed project using waterfall model and practiced Agile Project Management &amp; performed the Scrum.</em></li>
<li><em>Wrote&nbsp;MySQL&nbsp;queries, store procedures and triggers.&nbsp;Using different databases&nbsp;JDBC, MySQL, postgresql, MongoDB, MS SQL, Oracle, SQL Server and DB2 Client. Extensively used Git for version controlling and regularly pushed the code to GitHub. Developing applications based on RESTful &amp; Soap WebServices.</em></li>
<li><em>Developed the application using Struts Framework which is based on the MVC design pattern using Struts, SERVLETS, EJB, IBATIS, JPA. Involved in debugging the product using Eclipse and JIRA Bug Tracking.</em></li>
<li><em>Developed all client-side logical implementation part of applications with AngularJS controllers under specific modules, manipulating nodes in DOM tree</em></li>
<li><em>Worked with NoSQL database postgresql, MongoDB and worked with it to perform many different operations</em></li>
<li><em>Implemented Web services using apache API and tested them using SOAP UI. Integrated the SOAP Web services to RESTful Web Services. Administered both Git and Subversion repositories for an enterprise code off.</em></li>
<li><em>Wrote SQL queries and Stored Procedures for interacting with the&nbsp;Oracle&nbsp;database.</em></li>
<li><em>Involved in Test Driven Development by writing JUnit test case in the coding part of&nbsp;Java&nbsp;methods&nbsp;</em></li>
<li><em>Created webservices using WTP tool plugin to the eclipse IDE which is deployed as a separate application using Maven scripts. Involved in preparing the test cases using JUnit test case and in the testing phase</em></li>
</ul>
<p><strong><em><u>Technical Skills:</u></em></strong></p>
<p><strong><em>JAVA, J2EE, Spring, JSP, Struts, SERVLETS, EJB, Hibernate, IBATIS, JPA, CSS, HTML5, Javascript, </em></strong><strong><em>Angular.Js, JQeuery, &nbsp;Node.Js, Oracle, DB2, CRUD, PL/SQL, JDBC, Cassandra, NoSQL, MongoDB, postgresql, MySQL, MS SQL, Web Services, REST, SOAP, </em></strong><strong><em>Junit, Jira, GIT, GITHUB, Subversion (SVN), Maven, SOA, Tomcat, UML, </em></strong><strong><em>Eclipse, Linux, Unix, Agile, Scrum</em></strong></p>
<p><strong><br /> </strong></p>
<p><strong><em><u>&nbsp;</u></em></strong></p>
<p><strong><em><u>&nbsp;</u></em></strong></p>
<p><strong><em><u>&nbsp;</u></em></strong></p>
<p><strong><em><u>&nbsp;</u></em></strong></p>
<p><strong><em><u>&nbsp;</u></em></strong></p>
<p><strong><em><u>&nbsp;</u></em></strong></p>
<p><strong><em><u>CISCO SYSTEMS INC - SAN JOSE, CA</u></em></strong></p>
<p><strong><em>MARCH 2012 TO APRIL 2014</em></strong></p>
<ol>
<li><strong><em> JAVA DEVELOPER</em></strong></li>
</ol>
<p><strong>&nbsp;</strong></p>
<p><strong><em>This is a web-based unified commerce application which enables customers and partners to create estimates/quotes for the renewal of current software subscriptions and technical services.</em></strong></p>
<p><strong><em><br /> </em></strong></p>
<p><strong>&nbsp;</strong></p>
<ul>
<li><em>Used Java/J2EE Design patterns like MVC, Factory Method, Singleton, and Data Transfer Object (DTO) Service </em></li>
<li><em>Developed the application using Struts Framework that leverages classical Model View Controller (MVC) architecture. Involved in designing the user interfaces using Struts Tiles Framework, Struts, SERVLETS, EJB, IBATIS, JPA, HTML, CSS, JSP.</em></li>
<li><em>Developed Single Page applications using AngularJS using components, directives using Javascript, Bootstrap Backbone.js, and NodeJs. </em></li>
<li><em>Used Java/J2EE Design patterns like Business Delegate, Session Fa&ccedil;ade, Data&nbsp;Transfer Object (DTO) and Service Locator in the project extensively, which facilitates clean distribution of roles and responsibilities across various layers of processing. </em></li>
<li><em>Designed and developed the web-tier using Html, JSP&rsquo;s, Servlets, Struts, SERVLETS, EJB, IBATIS, JPA, Struts and Tiles framework.</em></li>
<li><em>Built Web pages that are more user-interactive using HTML, CSS, AJAX, JavaScript,</em> <em>js, Bootstra, &nbsp;AngularJs.</em></li>
<li><em>Worked on the MySQL migration project to make the system completely independent of the database being used. Also used CRUD, PL/SQL, MSSQL. </em></li>
<li><em>Developed PL/SQL store procedures for data migration and database upgrade from oracle using JDBC, postgresql , MYSQL, SQL Server, DB2, Coherence and TOAD.</em></li>
<li><em>Developed business modules using Struts, SERVLETS, EJB, IBATIS, JPA, Hibernate &amp; Springtechnologies. Configuration of application using Spring, Struts, Hibernate, DAO&rsquo;s, Actions Classes, Java Server Pages</em></li>
<li><em>Working experience in Web Services using REST, SOAP and WSDL, JSF, JSON, JQuery, JMS and Oracle coherence.</em></li>
<li><em>Developing test suites in Selenium WebDriver (Java) with TestNG framework in Eclipse IDE </em></li>
<li><em>Designed Use Case Diagrams, Class Diagrams and Sequence Diagrams and Object Diagrams to model the detail design of the application using UML. Designed the flow of the project using Water Fall Model.</em></li>
<li><em>Used Maven, Ant for developing build scripts and deploying the application onto WebLogic.</em></li>
<li><em>Interfaced with the Oracle back-end using Java, J2EE, Spring, Hibernate Framework and config files. &nbsp;</em></li>
<li><em>Contributed to organization of testing and quality improvement process (JIRA, Confluence).</em></li>
<li><em>Designing, developing and testing C/C++ and Java applications in SDLC as well as Agile environment. </em></li>
</ul>
<p><strong><em><u>Technical Skills:</u></em></strong></p>
<p><strong><em>Java, J2EE, Struts, SERVLETS, EJB, IBATIS, JPA, HTML, CSS, JavaSCript, JSP, JQUERY, Dojo, AJAX, Servlet, Angular.js, Node.js, JDBC, MYSQL, Oracle, TOAD, SQL, Tomcat, GWT, REST, WSDL, Jira, Swing, ClearCase</em></strong></p>
<p><strong><br /> </strong></p>
<p><strong><em><u>LIBERTY MUTUAL- BOSTON, MA</u></em></strong></p>
<p><strong><em>AUGUST 2010 TO FEB 2012</em></strong></p>
<p><strong><em>JAVA DEVELOPER&nbsp;&nbsp; </em></strong></p>
<p><strong><em>Project was to redesign the customer insurance application process from end to end to enhance the old legacy system. This is an agile project that interfaces with SCRUM teams and the client's staff on daily basis.</em></strong></p>
<p>&nbsp;</p>
<p><em>&nbsp;</em></p>
<ul>
<li><em>Defined and constructed layers, server-side objects and client-side interfaces based on J2EE design patterns, Developed and implemented Swing, spring and J2EE based MVC (Model-View-Controller) framework for the application. Participated with end users and business analyst to understand the business requirements.</em></li>
<li><em>Designed the front-end applications, user interactive (UI) web pages using web technologies like HTML, XHTML, JQeuery, and CSS. Experience in CSS pixel-level layout, Consistency with browsers, Platform Independence</em></li>
<li><em>Used Oracle as relational databases and created E-R diagrams for the database tables.</em></li>
<li><em>Built Web pages that are more user-interactive using HTML, CSS, JQeuery, AJAX,</em> <em>js, JavaScript, Bootstrap and AngularJs. Designed Class diagrams, framework and developed using Factory, DAO, Singleton and MVC pattern. Designed and developed the persistence tier using Java, J2EE, Spring, Hibernate, Oracle, MySQL.</em></li>
<li><em>Worked on Backend on Java with Oracle database using MSSQL, MySQL. Developed the business tier using Core Java and the HTTP interfaces using Servlets. </em></li>
</ul>
<p><strong><em><u>Technical Skills: </u></em></strong></p>
<p><strong><em>Java, J2EE, HTML, CSS, Jquery, Ajax, Sencha EXTJS, JSP, JSTL, Javascript, JQeuery, Node.Js, Angular, Backbone.Js, Node.js, Servlet, Struts, Weblogic, Rest, JSP, Eclipse, Junit, Maven, Oracle, MySQL, CRUD, PL/SQL, JDBC, UML</em></strong></p>
<p><strong><br /> </strong></p>
<p><strong><em><u>CVS CAREMARK - CHICAGO, IL</u></em></strong></p>
<p><strong><em>JUNE 2008 TO JULY 2010<br /> SOFTWARE DEVELOPER</em></strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong><em>CVS Caremark manages Prescription Benefit Management (PBM) system which checks the health information of the patient and retrieves the pay rate of the plan and provides the&nbsp;&nbsp; prescription to the patient at minimal rate as per the insurance plan.</em></strong></p>
<p><strong><br /> </strong></p>
<p><strong>&nbsp;</strong></p>
<ul>
<li><em>Used Java/J2EE Design patterns like MVC, Factory Method, Singleton, and Data Transfer Object (DTO) Service Locator. Developed Web&nbsp;Java/J2EE application (JSP, EJB) using Struts/Tomcat/Xerces for Sybase</em></li>
<li><em>Presentation tier was incorporated using JSP, HTML, CSS, AJAX and JavaScript. Involved in all phases of SDLC. Interacting with the client and analyzing the requirements to help and understand the requirements. </em></li>
<li><em>Designed Class diagrams, framework and developed Use case diagram and Sequence diagram.</em></li>
<li><em>Worked closely with product management teams to strategize design solutions, produced navigation flows and prototypes. Instrumental role in the development of Hi-fidelity prototypes using HTML, CSS, Jquery, Javascript, </em></li>
<li><em>Use of Java Collection API and classes such as HashMap, Array List and Vectors.</em></li>
<li><em>Implemented database transactions using Oracle, Java, JDBC, Hibernate ORM framework.</em></li>
<li><em>MySql was used as RDBMS. Hands on experience creating E-R diagram, complex queries and sub queries. </em></li>
<li><em>Built and deployed WAR file on JBoss application server. Used VSS for version control of project files.</em></li>
<li><em>Involved in QA support and deployed the application on Production server and supported for the real time issues. Developed application using MyEclipse for rapid development.</em></li>
</ul>
<p><strong><em><u>Technical Skills:</u></em></strong></p>
<p><strong><em>Java, J2EE, Spring, Hibernate, HTML, CSS, Jquery, JavaScript, REST, Oracle, SQL, UML, Eclipse, AJAX, ExtJS, Junit</em></strong></p>
<p><strong><br /> </strong></p>
<p><strong><em><u>SIEMENS, RIDGE, NJ</u></em></strong></p>
<p><strong><em>JULY 2006 TO MAY 2008<br /> SOFTWARE DEVELOPER</em></strong></p>
<p><strong><em>Siemens Corporation is a U.S. subsidiary of Siemens AG, a global technology powerhouse that has stood for engineering excellence, innovation, quality, reliability and internationality for more than 165 years.</em></strong></p>
<p><strong><em><br /> </em></strong> <em><br /> </em></p>
<ul>
<li><em>Deployed the application with HTML, CSS, JavaScript, Java, J2EE, Struts Framework and&nbsp;Hibernate&nbsp;</em></li>
<li><em>Involved in gathering business requirements, analyzing the project and created UML diagrams such as Class Diagrams, Sequence Diagrams and flowcharts for the Optimization module using Microsoft Visio.&nbsp;</em></li>
<li><em>Designed and developed the User Interface using JSP, JSF,&nbsp;HTML,&nbsp;CSS&nbsp;and JavaScript Implemented Design Patterns like MVC, Session Facade and Data Transfer Objects. Developed Ant scripts to deploy EAR, WAR files for deployment into server. Successfully executed all the test cases and fixed any bugs/issues identified during the test cycles&nbsp;</em></li>
</ul>
<p><strong><em><u>Technical Skills:</u></em></strong></p>
<p><strong><em>Core Java, &nbsp;HTML, CSS, Javascript, Linux, Windows, Eclipse, SVN, AJAX, JBOSS.</em></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>